
=sectionfeeling($altern1, $altern2, $altern3)
  background: $altern1
  text-align: $altern2
  padding: $altern3
  height: 650px
  background-size: cover

=hot($sis, $hih)
  font-size: $sis
  padding-top: $hih
  font-weight: normal
  line-height: 32px
  margin-bottom: 32px
  text-shadow: 0px 0px 10px rgba(34,34,34,0.2)
  color: #fff

.hot2
  +hot(1.3em, 22px)

.hot3
  +hot(1em, 0)

.header
  text-align: center
  padding: 220px 22%

  h2
    margin-bottom: 32px
    color: #C32F34

section.pag
  +sectionfeeling(url('/assets/images/bg_overlay.png'), right, 100px 10% 0 50%)

section.judo
  +sectionfeeling(url('/assets/images/bg_rd.png'), left, 100px 50% 0 10%)

section.tri
  +sectionfeeling(url('/assets/images/bg_wall.png'), right, 100px 10% 0 50%)

section.hire
  text-align: center
  padding: 100px 0

  a
    background: #C32F34
    padding: 16px
    border-radius: 5px
    color: #fff
    display: inline-block
    text-transform: uppercase
    font-size: 1em
    font-weight: bold

    span
      display: block
      opacity: 0.65
      font-weight: normal
      text-transform: none





