#team
  background-color: rgba(46, 48, 58, 0.96)
  background-image: url('/assets/images/bg_team.jpg')
  background-repeat: no-repeat
  background-size: cover
  height: 600px

  .wrap
    max-width: 75em
    margin: 0 auto

    .header-content
      width: 750px
      margin: 0 auto
      display: block
      padding: 12.5em 0px
      padding-top: 12.5em
      padding-bottom: 12.5em
      text-align: center

      h2
        color: #FFF
        margin-bottom: 32px
        font-size: 2.25em
        text-rendering: optimizelegibility
        line-height: 1.3em
      p
        color: #FFF
      a
        color: #FFF
        text-align: center
        text-transform: uppercase
        display: inline-block
        font-family: Arial
        font-size: 1em
        font-weight: 900
        text-decoration: none
