---
layout: simple
---

.wrap
  .page-header-content
    %h2 Our Work
    %p We have worked with a variety of clients such as one person startup businesses, Fortune 500 enterprises, universities, and non-profits. For every project, we focus on user outcomes, usable interfaces, clean code, and working software.
    %a{ title: "playbook", href: "#"}



%a{ href: "#"}
  %section.case-study#tile
    .case-study__overlay
      .case-study__image{ style: "background-image: url('/assets/images/bg_overlay.png')" }  test
    .case-study__border
    .wrap.wrap--case-study <!-- surplus? -->


%a{ href: "#"}
  %section.case-study#martial_codex
    .case-study__overlay
    .case-study__border
    .wrap.wrap--case-study <!-- surplus? -->


%a

%section

%section

