---
layout: simple
---

.header
  %h2 Our Work
  %p We have worked with a variety of clients such as one person startup businesses, Fortune 500 enterprises, universities, and non-profits. For every project, we focus on user outcomes, usable interfaces, clean code, and working software.

%section.pag
  %img{alt: "Logo", src: "/assets/images/clientwork_logo1.svg"}
  %h2.hot2 Designing and building a thoroughly user-validated onboarding flow for Tile's iOS app.
  %h3.hot3 Visual Design, User Testing, iOS Design, Front-end Development

%section.judo
  %img{alt: "Logo", src: "/assets/images/case-study__logo.svg"}
  %h2.hot2 Martial Codex teaches the martial arts over the web. We designed and built a digital experience to help them do it.
  %h3.hot3 Mobile (Google's "Material") Design, WebGL Engine Development

%section.tri
  %img{alt: "Logo", src: "/assets/images/logo2.svg"}
  %h2.hot2 Helping Nixle build a web and mobile app for relevant local public safety and school information.
  %h3.hot3 iOS Design & Development, Web Design & Development, User Testing

%section.hire
  %a
    Want us to work for you?
    %span Click here to hire us


