---
layout: simple
---

%header.our-products#page-header
  .wrap
    .page-header-content
      %h2 Our Products
      %p Over the years, we have extracted products for designers and developers from our client work such as Airbrake (an error handling and notification service) and Copycopter (an internationalization service). We are proud to currently run the following products.

%section#page-content
  .wrap.products
    .product.upcase
      %h3.product-logo-upcase Upcase
      %p Learn new programming skills and refine your existing ones with programming exercises, video tutorials, and a thriving community of passionate programmers.
      %a.button{href: "#"} Visit Upcase
      .product-image
    .product.hound
      %h3.product-logo-hound Hound
      %p Hound is an automated style guide enforcement service that integrates with your existing code review process.
      %a.button{href: "#"} Visit Hound
    .product.formkeep
      %h3.product-logo-formkeep FormKeep
      %p FormKeep is a form backend for your static sites. No need for iframes, JS embeds, and CSS overrides.
      %a.button{href: "#"} Visit FormKeep
