%section#team
  .wrap
    %section.header-content
      %h2 Who We Are
      %p Our clients hire us to design and build their products. We focus on user outcomes and simplicity. We write code for iOS, Android, and the web.
      %a{ :href => "/people"}
        %i.fa.fa-play-circle
        Meet The Team










