%section#work
  .wrap
    %section.header-content
      %h2 What We`ve Built
      %p We have worked with 100+ organizations such as Yammer, Constant Contact, Autodesk, Merck, and MIT. We have designed and built our own digital products, usually SaaS tools for other designers and developers. We have written and maintained lots of high-quality open source code.
      %ul.link-container
        %li
          %a{ :href => "/work"} 
            %i.fa.fa-play-circle
            Client Work
        %li
          %a{ :href => "/products"} 
            %i.fa.fa-play-circle
            Our Products
        %li
          %a{ :href => "/open-source", :title => "Open Source" } 
            %i.fa.fa-play-circle
            Open Source
  .wrap
    

